<ion-header>
  <ion-toolbar>
      <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Mais Flores
          </ion-title>
        </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-img src="../assets/imagens/azaleia.jpg"></ion-img>
          Rosa 
      </ion-item>
      <ion-item>
        <ion-img src="../assets/imagens/azaleia.jpg"></ion-img>
        Camélia
      </ion-item>
      <ion-item>
        <ion-img src="../assets/imagens/azaleia.jpg"></ion-img>
        Amor-perfeito
      </ion-item>
      <ion-item>
        <ion-img src="../assets/imagens/azaleia.jpg"></ion-img>
        Amarílis
      </ion-item>
      <ion-item>
        <ion-img src="../assets/imagens/azaleia.jpg"></ion-img>
        Antúrio
      </ion-item>
      

    </ion-list>
</ion-content>
