<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Flores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Flores</ion-card-subtitle>
          <ion-card-title>Azaléia</ion-card-title>
        </ion-card-header>
        <ion-img src="../assets/imagens/azaleia.jpg"></ion-img>
        <ion-card-content class="texto">
            As azaléias também são plantas com flores coloridas que podem ser encontradas em tonalidades e tamanhos diferentes.
            Esses tipos de plantas se adaptam bem ao frio, porém, são tóxicas, então se tiver animais ou crianças em casa não 
            é aconselhável ter esses tipos de flores.
        </ion-card-content>
      </ion-card>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vzCGvLRNYSc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-button expand="block" href="flores">Mais flores</ion-button>
</ion-content>
