<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     <h1>Flores</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
   <ion-img src="../assets/imagens/flor.jpg"></ion-img>
    <p>
        Cuidar de flores e plantas com flores também pode ser uma terapia para quem gosta de praticar jardinagem,
        afinal o contato com a natureza nos proporciona alegria e calma. E quem não gosta de apreciar belos jardins, 
        não é mesmo?
    </p>

    <p class="botao">
      Clique aqui para mais informações 
    </p>
</ion-content>
